// personalización componentes frameworks
// colores
$link-color: #fff;
$black: #111111;


// Carousel
$carousel-transition-duration: .4s;


$link-color: #fff;

// Accordion
$accordion-color:                         white;
$accordion-bg:                            black;


$accordion-button-color:                  white;
$accordion-button-bg:                     white;

$accordion-button-active-bg:              white;
$accordion-button-active-color:           white;



$accordion-icon-color:                    white;
$accordion-icon-active-color:             white;


// scss-docs-end accordion-variables
//

// offcanvas
// backdrop offcanvas


// $modal-backdrop-opacity:            0;
// close button
$btn-close-opacity:          1;

// scss-docs-start offcanvas-variables
$offcanvas-transition-duration:     .4s;
$offcanvas-horizontal-width: 300px;
// scss-docs-end offcanvas-variables

  //IMPORTAR BOOTSTRAP
@import "../node_modules/bootstrap/scss/bootstrap.scss";

