@charset "UTF-8";
@import url(//db.onlinewebfonts.com/c/f6a976a2bc80fd96b873575f9b7dfee2?family=Monotype+Sabon);
@import url(//db.onlinewebfonts.com/c/952bab25f6798d6bb1937d67e9bee4dd?family=Sans);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.z-index {
  z-index: 99;
}

body {
  width: 100vw;
}
.vw100 {
  width: 100vw;
}

.text--white {
  color: white !important;
}

.text .videocontainer-index {
  position: relative;78
}

#bgvid {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}


/* INDEX SECTION */
section {
  width: 100%;
}

/* 1ra sección */
#section1-index {
  width: 100%;
  z-index: 99;
  position: relative;
  overflow: hidden;
  height: 73vh;
}

#section1-index h1, #section1-index .h1, #section1-index h3, #section1-index .h3, #section1-index a {
  color: whitesmoke;
}

.container1-section1 {
  height: 50vh;
  font-family: "Monotype Sabon";
  line-height: 3.9rem;
  letter-spacing: 0.25rem;
  text-transform: uppercase;
}

#index__title-2 {
  font-size: 2rem;
  color: whitesmoke;
}

#index__title-4 {
  font-family: "Lato", sans-serif;
  font-size: 0.8rem;
  font-weight: 600;
  color: whitesmoke;
}

#cell1-section1 {
  width: auto;
  margin-top: 1.4%;
  font-family: "Monotype Sabon";
  text-transform: uppercase;
  letter-spacing: 0.25rem;
}

.cell2-section1 {
  font-weight: bold;
  letter-spacing: 0.3rem;
}

.button-sumate {
  box-shadow: 0px 0px 0px -2px #f0f3fa;
  background-color: transparent;
  border-radius: 0.1%;
  border: 2px solid #fafbff;
  display: inline-block;
  line-height: 1rem;
  cursor: pointer;
  color: #ffffff;
  font-family: Courier New;
  padding: 1% 2%;
  margin-top: 3%;
  text-decoration: none;
}

.button-sumate:hover {
  background-color: transparent;
}

.button-sumate:active {
  position: relative;
  top: 1px;
}

/* 2da sección */
#section2-index {
  width: 100%;
  height: 1400px;
  margin-top: 4px;
  margin-bottom: 0.3%;
  background-color: #ffffff;
  overflow: hidden;
}

#section2__container {
  height: 100%;
  padding-right: 0;
}

#section2__container .row div {
  align-items: flex-end;
}

.links-index {
  color: whitesmoke;
  font-size: 1.6rem;
  font-family: "Monotype Sabon";
  text-decoration: none;
}

.links-index:hover {
  text-decoration: underline;
  color: whitesmoke;
}

#section2__image--1 {
  background-image: url("../imgs/MeHagoTierra.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 99%;
  height: 100%
}

#section2__image--2 {
  background-image: url("../imgs/productos.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 99%;
  height: 100%
}

#section2__image--3 {
  background-image: url("../imgs/novedades.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 99%;
  height: 100%
}

#section2__image--4 {
  background-image: url("../imgs/FAQs.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%
}

.links-index:hover {
  text-decoration: underline;
}

.cell2-container1-section2 {
  background-color: gray;
}
.section2__text--p {
  padding-left: 20px;
}



/* Section FAQs */
.section-faqs {
  overflow: hidden;
  height: 100%;
  margin-bottom: 5%;
}

.accordion-button::after {
  color: white !important;
}

.section-faqs p {
  font-size: 1.2rem;
  letter-spacing: 2px;
  word-spacing: 5px;
  line-height: 18px;
  padding-left: 10%;
  padding-right: 10%;
  line-height: 40px;
  text-align: center;
}

.container-faqs {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 3rem;
}

title {
  font-size: 3rem;
  text-align: center;
}

.items-faqs {
  text-align: left;
}

.lista-faqs {
  text-align: left;
  letter-spacing: 2px;
  word-spacing: 5px;
  line-height: 30px;
  padding-left: 28rem;
  list-style-type: none;
  background-image: url(../imgs/icono-hoja.png);
  background-position: left;
  background-size: 1.6rem 1.6rem;
  background-repeat: no-repeat;
  background-position-x: 25rem;
}

.greenText {
  color: green;
  font-weight: bold;
}

.boldText {
  font-weight: bold;
}

/* CONTACTO */
.contact {
  background-image: url("../imgs/contact-bg.jpg");
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  height: 100%;
  padding-bottom: 4%;
}
.header__bgcolor--1 {
  background-color: #0d0b09;
}
.u-wrapper {
  margin: 0 auto;
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 4% 0 4%;
}
.nogutters {
  --bs-gutter-x: 0;
}

.form {
  max-inline-size: 550px;
  margin: auto;
}

.contact__text--3 {
  font-size: 1rem;
  font-family: "Merriweather", serif;
}
.contact__text--1 {
  font-size: 2rem;
  font-family: "Merriweather", serif;
}

form h5, form .h5 {
  margin: 4% 0 0 1%;
  font-weight: 200;
}

#name1 {
  margin-block-start: 0.2em;
}

.tag span {
  padding: 0.5em;
  background: var(--black);
  color: var(--primary);
  box-shadow: -4px 4px 0 white;
}

.btn {
  border-radius: 90px;
  letter-spacing: 1.25px;
  block-size: 50px;
  display: block;
  box-sizing: border-box;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  line-height: 50px;
  border: 2px solid white;
  font-weight: bold;
  padding: 0 1.5em;
  color: white;
}

.btn.full {
  width: 100%;
}

.btn.primary {
  background: var(--primary);
}

.btn i {
  display: inline-block;
}

.btn span {
  vertical-align: middle;
}

.btn i img {
  vertical-align: middle;
}

.form label {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 0.5em;
  padding-inline-start: 0.5em;
}

.form label span {
  color: #DA1414;
}

.form input, .form textarea {
  box-sizing: border-box;
  width: 100%;
  font-size: 1rem;
  padding: 0.8em;
  border-radius: 0.5em;
  border: 1px solid #858C94;
  background-color: rgba(255, 255, 255, 0.15);
}

.form textarea {
  margin-block-end: 2em;
  font-family: inherit;
}

.contact__text--1 {
  font-size: 2rem;
}
/* contacto soysustrato */
.contact-soysus {
  text-align: center;
  font-family: "Syne Mono", monospace;
  line-height: 2rem;
}

.contact-soysus a {
  color: white;
}

/* BLOG */
.section1-blg {
  display: Flex;
  padding-top: 5%;
  justify-content: center;
  text-align: center;
}

.container1-section1-blg {
  width: 60%;
}


/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  html {
    font-size: 1.2rem;
  }

  .links-index {
    width: auto;
  }

  #section2__image--3 {
    background-position: top;
  }
}
/* Medium devices (desktop) */
@media (min-width: 992px) {
  html {
    font-size: 1.3rem;
  }

  .index__section2-row {
    display: grid;
    grid-template-areas: "grid-area-1 grid-area-2 grid-area-2" "grid-area-3 grid-area-3 grid-area-4";
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 250px;
    grid-row-gap: 2px;
    position: relative;
  }

  .index__section2-col1 {
    grid-area: grid-area-1;
    position: relative;
  }

  .index__section2-col2 {
    grid-area: grid-area-2;
    position: relative;
  }

  .index__section2-col3 {
    grid-area: grid-area-3;
    position: relative;
  }

  .index__section2-col4 {
    grid-area: grid-area-4;
    position: relative;
  }

  .image-fit {
    width: 50%;
  }
}
@font-face {
  font-family: "Monotype Sabon";
  src: url("//db.onlinewebfonts.com/t/f6a976a2bc80fd96b873575f9b7dfee2.eot");
  src: url("//db.onlinewebfonts.com/t/f6a976a2bc80fd96b873575f9b7dfee2.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/f6a976a2bc80fd96b873575f9b7dfee2.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/f6a976a2bc80fd96b873575f9b7dfee2.woff") format("woff"), url("//db.onlinewebfonts.com/t/f6a976a2bc80fd96b873575f9b7dfee2.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/f6a976a2bc80fd96b873575f9b7dfee2.svg#Monotype Sabon") format("svg");
}
@font-face {
  font-family: "Sans";
  src: url("//db.onlinewebfonts.com/t/952bab25f6798d6bb1937d67e9bee4dd.eot");
  src: url("//db.onlinewebfonts.com/t/952bab25f6798d6bb1937d67e9bee4dd.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/952bab25f6798d6bb1937d67e9bee4dd.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/952bab25f6798d6bb1937d67e9bee4dd.woff") format("woff"), url("//db.onlinewebfonts.com/t/952bab25f6798d6bb1937d67e9bee4dd.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/952bab25f6798d6bb1937d67e9bee4dd.svg#Sans") format("svg");
}
/* SHOP */
#section1-shp {
  padding-top: 3%;
  overflow: hidden;
  height: 3450px;
  margin-bottom: 30px;
  font-family: "Monotype Sabon";
}

.product__title--1 {
  font-size: 1.2rem;
  color: black;
  padding-left: 20px;
}

.product__title--2 {
  font-size: 1rem;
  color: #413c3c;
  padding-left: 20px;
}

.product__image--vianda {
  background-image: url("../imgs/shop/vianda.png");
  background-repeat: no-repeat;
  background-size: 370px 305px;
  background-position: center;
}

.product__image--cubo {
  background-image: url("../imgs/shop/cubo.png");
  background-repeat: no-repeat;
  background-size: 370px 305px;
  background-position: center;
}

.product__image--tapacubo {
  background-image: url("../imgs/shop/tapacubo.png");
  background-repeat: no-repeat;
  background-size: 370px 305px;
  background-position: center;
}

.product__image--sobrem {
  background-image: url("../imgs/shop/sobrem.png");
  background-repeat: no-repeat;
  background-size: 370px 305px;
  background-position: center;
}

.product__image--sobres {
  background-image: url("../imgs/shop/sobres.png");
  background-repeat: no-repeat;
  background-size: 370px 305px;
  background-position: center;
}

.product__image--sobrexs {
  background-image: url("../imgs/shop/sobrexs.png");
  background-repeat: no-repeat;
  background-size: 370px 305px;
  background-position: center;
}

.product__image--doypackxl {
  background-image: url("../imgs/shop/doypackxl.png");
  background-repeat: no-repeat;
  background-size: 370px 305px;
  background-position: center;
}

.product__image--doypackl {
  background-image: url("../imgs/shop/doypackl.png");
  background-repeat: no-repeat;
  background-size: 370px 305px;
  background-position: center;
}

.product__image--doypackm {
  background-image: url("../imgs/shop/doypackm.png");
  background-repeat: no-repeat;
  background-size: 370px 305px;
  background-position: center;
}
 .share {
   font-size: 0.8rem;
   color:gray;
   text-decoration: none;
   padding-left: 20px;
   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

 }
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #section1-shp {
    height: 2250px;
  }

  .product__image--vianda {
    background-size: 352px 320px;
  }

  .product__image--cubo {
    background-size: 352px 320px;
  }

  .product__image--tapacubo {
    background-size: 352px 320px;
  }

  .product__image--sobrem {
    background-size: 352px 320px;
  }

  .product__image--sobres {
    background-size: 352px 320px;
  }

  .product__image--sobrexs {
    background-size: 352px 320px;
  }

  .product__image--doypackxl {
    background-size: 352px 320px;
  }

  .product__image--doypackl {
    background-size: 352px 320px;
  }

  .product__image--doypackm {
    background-size: 352px 320px;
  }
}
/* Medium devices (desktop) */
@media (min-width: 992px) {
  #section1-shp {
    height: 2000px;
  }

  .product__image--vianda {
    background-size: 430px 480px;
  }

  .product__image--cubo {
    background-size: 430px 480px;
  }

  .product__image--tapacubo {
    background-size: 430px 480px;
  }

  .product__image--sobrem {
    background-size: 430px 480px;
  }

  .product__image--sobres {
    background-size: 430px 480px;
  }

  .product__image--sobrexs {
    background-size: 430px 480px;
  }

  .product__image--doypackxl {
    background-size: 430px 480px;
  }

  .product__image--doypackl {
    background-size: 430px 480px;
  }

  .product__image--doypackm {
    background-size: 430px 480px;
  }

  header {
    height: 16vh;
  }
  #section1-index {
    height: 76vh;
  }
}
