@use '../componentes/tipografia' as *;

footer {
    font-family: $open-sans;
}
footer a {
    color: white;
    line-height: 12px !important;
    font-size: .7rem;
    text-decoration: none;
    letter-spacing: 1.2px;
}

footer p {
    font-size: .7rem;
    letter-spacing: 3px;
    margin-bottom: 0.5rem;
}

#footer-sumate {
    font-size: .5rem;
    letter-spacing: 1.2px;
}
footer span {
    margin-bottom: 0.5rem;
}
footer ul {
    list-style: none;
    padding-left: 0;
}
footer .offcanvas__item {
    border: none;
}
.footer__link {
    padding: 10px 5px;
    color: #fff !important;
    text-decoration: none;
    // background: 0 0;
    cursor: pointer;
}

#footer-color {
    background-color: black;
}

footer svg path {
    fill: white;
}

.footer__border::after {
    content: "";
    border-bottom: 1px solid;
    border-color: #fff;
    opacity: .14;
    display: block;
}
.footer__social {
    flex: 1 1 auto;
    text-align: right;
}
.footer__social li {
    margin: 0 0 0 15px;
}
.footer-1 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    justify-content: center;
}
.footer__newsletter {
    position: relative;
}
.footer__newsletter-input {
    background-color: transparent;
    border-color: rgb(58, 58, 58);
    border-width: 0.8px;
    width: 250px;
    padding: 8px 10px 0 45px;
}
input::placeholder{
    opacity: 1;
    color: white;
    font-size: .5rem;
    letter-spacing: .3px;
}
.footer__newsletter-btn {
    border: 1px dotted transparent;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 46px;
    color: white;
    cursor: pointer;
    display: inline-block;
    overflow: visible;
    background: 0 0;
}
.icon-email {
    width: 26px;
    height: 26px;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    fill: currentColor;
    color: white;
}
.icon-email > path:nth-child(1) {
    fill: none;
    stroke-width: 3px;
    stroke: currentColor;
    stroke-linecap: miter;
    stroke-linejoin: miter;
}

// .footer-bottom__copy {
//     color: gray;
//     font-weight: 400;
//     display: flex;
//     align-items: center;
// }

// .footer-bottom__copy a {
//     color: gray;
//     text-decoration: none;
// }

// .footer-bottom__copy a:hover {
//     color: #72c755;
//     text-decoration: none;
// }

// .footer-copy {
//     justify-content: center;
// }

.d-yes {
    display: none;
}
@media (min-width: 768px) {

    #accordion-footer{
        display: none;
    }
    .d-yes {
        display: flex;
        flex-direction: column;
    }
}
