


.footer a {
    color: white;
    line-height: 16.8px;
}

.footer a i {
    font-size: 1rem;
    margin-left: 1rem;
}
#footer-color {
    background-color: black;
}
.footer-1 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    justify-content: center;
}

hr {
    color: white;
}

.footer-bottom__copy {
    color: gray;
    font-weight: 400;
    display: flex;
    align-items: center;
}

.footer-bottom__copy a {
    color: gray;
    text-decoration: none;
}

.footer-bottom__copy a:hover {
    color: #72c755;
    text-decoration: none;
}

.footer-copy {
    justify-content: center;
}

