@use '../custom' as *;
@use '../componentes/mixins' as *;
@use '../componentes/globals';
@use '../componentes/animaciones';

// HOME

.mainContent {
    display: block;
    min-height: 300px;
}

// sección 1

#home--section1 {
    position: relative;
}


// Imagen inicial

.image__wrapper-1 {
    height:90vh;
    overflow: hidden;
    background-color: black;
}
.image__wrapper-1::before {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.0) 0%, rgba(0, 0, 0, 0.0) 40%, rgba(0, 0, 0, 0.62) 100%);
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 3;
}
.image__wrapper-1::after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 3;
    background-color: #000;
    opacity: 0.1;
}
.index__image-1 {
    animation: 2.5s ease-in 1s forwards;
    animation-name: zoom-fade;
    opacity: 0;
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    object-fit: cover;
    
}


// Text principal

.text__wrapper {
    margin-top: 18%;
    padding: 0 20px;
    overflow: hidden;
}
#home--section1 .container {
    top: 0;
    // padding-top: 28vh;
    left: 0;
    padding: 18vh 1rem 0 1rem;
    max-width: 1300px;
    color: whitesmoke;

}
.home__text-2 {
    opacity: 1;
    overflow: hidden;

}
#home__text-3 {
    opacity: 0;
    font-family: $oswald;
    letter-spacing: 2.3px;
    font-size: 2rem;
    z-index: 4;
}
#home__text-4 {
    font-family: $oswald;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 6px 0;
    opacity: 0;
    z-index: 4;
}

#home__text-6 {
    font-family: $oswald;
    font-size: 1.8rem;
    z-index: 4;
    opacity: 0;
    letter-spacing: 2.5px;
    font-weight: 200;
}
#home__text-5 {
    font-family: $oswald;
    font-size: 1.9rem;
    z-index: 4;
    opacity: 0;
    letter-spacing: 1.9px;
}

.animation__up {
    &-1 {
        @include animation-up;
        animation-delay: .1s;
    }

    &-2 {
        @include animation-up;
        animation-delay: .7s;
    }

    &-3 {
        @include animation-up;
        animation-delay: 1.1s;
    }
    
    &-4 {
        @include animation-up;
        animation-delay: 1.4s;
    }
}


/* 2da sección */
#section2-index {
    width: 100%;
    height: 1400px;
    margin-top: 2px;
    margin-bottom: 0.3%;
    background-color: #ffffff;
    overflow: hidden;
}

#section2__container {
    height: 100%;
    padding-right: 0;
}

#section2__container .row div {
    align-items: flex-end;
}

.links-index {
    color: whitesmoke;
    font-size: 1.6rem;
    font-family: "Monotype Sabon";
    text-decoration: none;
}

.links-index:hover {
    text-decoration: underline;
    color: whitesmoke;
}

#section2__image--1 {
    background-image: url("../imgs/MeHagoTierra.jpeg");
    @include image-ss;
    width: 99%;
    height: 100%
}

#section2__image--2 {
    background-image: url("../imgs/productos.jpeg");
    @include image-ss;
    width: 99%;
    height: 100%
}

#section2__image--3 {
    background-image: url("../imgs/novedades.jpeg");
    @include image-ss;
    width: 99%;
    height: 100%
}

#section2__image--4 {
    background-image: url("../imgs/FAQs.jpeg");
    @include image-ss;
    width: 100%;
    height: 100%
}

.links-index:hover {
    text-decoration: underline;
}

.cell2-container1-section2 {
    background-color: gray;
}
.section2__text--p {
    padding-left: 20px;
}

// 3ra sección

#section3-index {
    margin: 0 0 50px 0;
}

#section3__container {
    padding: 55px 20px;
    max-width: 1300px;
    margin: 0 auto;
}

#section3__image-1 {
    height: 415px;
    width: 305px;
    background-image: url("../../imgs/manifiesto-2.jpg");
    background-size: cover;
    background-position: center;
    margin-bottom: 30px;
}

#section3__manifiesto {
    padding-left: 1rem;
    padding-right: 1rem;
}

#section3__text-2{
    display: block;
    margin: 20px 0;
}

#section3__image-2 {
    width: 150px;
    height: auto;
    max-width: 100%;
}
