@use '../custom' as *;
@use '../componentes/mixins' as *;
@use '../componentes/globals';



/* INDEX SECTION */

.mainContent {
    display: block;
    min-height: 300px;
}

#home--section1 {
    position: relative;
}
.image__wrapper-1 {
    height:70vh;
    overflow: hidden;
    background-color: black;
}

// Imagen inicial
.index__image-1 {
    animation: 2.5s ease-in 0s forwards;
    animation-name: zoom-fade;
    opacity: 0;
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    object-fit: cover;
}

@keyframes zoom-fade{
    0%{
      opacity:0;
      transform:scale(1.25);
    }
    to{
      opacity:1;
      transform:scale(1);
    }
  }

// texto en index
.text__wrapper {
    margin-top: 18%;
    padding: 0 20px;
    overflow: hidden;
}
#home--section1 .container {
    top: 0;
    padding-top: 28vh;
    left: 0;
    max-width: 1300px;
    color: whitesmoke
}
.home__text-2 {
    opacity: 1;
    overflow: hidden;
}
#home__text-3 {
    padding: 20px 0;
    z-index: 4;
    opacity: 0;
    @include text-3;
}
#home__text-4 {
    padding: 5px 0;
    z-index: 4;
    opacity: 0;
    @include text-4;
}

.animation__up {
    
    &-1 {
        @include animation-up;
        animation-delay: .3s;
    }

    &-2 {
        @include animation-up;
        animation-delay: 1s;
    }
}
@keyframes rise-up{
    0%{
        opacity:0;
        transform:translateY(120%);
    }
    to{
        opacity:1;
        transform:translateY(0%);
    }
}

#index__title-1 {

}
#index__title-2 {
    
}


  /* 1ra sección */

// variable
#home--section1 h1, #home--section1 h3, #home--section1 a {
    color: whitesmoke; 
}

  /* 2da sección */
#section2-index {
    width: 100%;
    height: 1400px;
    margin-top: 2px;
    margin-bottom: 0.3%;
    background-color: #ffffff;
    overflow: hidden;
}

#section2__container {
    height: 100%;
    padding-right: 0;
}

#section2__container .row div {
    align-items: flex-end;
}

.links-index {
    color: whitesmoke;
    font-size: 1.6rem;
    font-family: "Monotype Sabon";
    text-decoration: none;
}

.links-index:hover {
    text-decoration: underline;
    color: whitesmoke;
}

#section2__image--1 {
    background-image: url("../imgs/MeHagoTierra.jpeg");
    @include image-ss;
    width: 99%;
    height: 100%
}

#section2__image--2 {
    background-image: url("../imgs/productos.jpeg");
    @include image-ss;
    width: 99%;
    height: 100%
}

#section2__image--3 {
    background-image: url("../imgs/novedades.jpeg");
    @include image-ss;
    width: 99%;
    height: 100%
}

#section2__image--4 {
    background-image: url("../imgs/FAQs.jpeg");
    @include image-ss;
    width: 100%;
    height: 100%
}

.links-index:hover {
    text-decoration: underline;
}

.cell2-container1-section2 {
    background-color: gray;
}
.section2__text--p {
    padding-left: 20px;
}

// 3ra sección

#section3-index {
    margin: 0 0 50px 0;
}

#section3__container {
    padding: 55px 20px;
    max-width: 1300px;
    margin: 0 auto;
}

#section3__image-1 {
    height: 415px;
    width: 305px;
    background-image: url("../../imgs/manifiesto-2.jpg");
    background-size: cover;
    background-position: center;
    margin-bottom: 30px;
}

#section3__manifiesto {
    padding-left: 1rem;
    padding-right: 1rem;
}

#section3__text-2{
    display: block;
    margin: 20px 0;
}

#section3__image-2 {
    width: 150px;
    height: auto;
    max-width: 100%;
}