/* HEADER */
.header__wrapper {
    // height: 57px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 6;
    background: 0 0;
    background: linear-gradient(180deg,rgba(0,0,0,.3) 0,transparent);
}
.header-item {
    height: 57px;
}

header {
    background: 0 0;
    border-bottom: 0;
    left: 0;
    right:0;
    position: absolute;
    z-index: 5;
    top:0;
    padding: 5px 0;
    display: block;

 }
.header--index {
    position: absolute;
    top: 0;
    left: 0;
}

#header__row {
    flex-wrap: nowrap;
    padding: 0 10px;
}

.flex-navbar {
    display: flex;
    flex-direction: row;
}

#menuhamburger {
    // width: 78px;
}

#header-logo {
    width: 130px;
    z-index: 99;
}

.navbar-brand.navbar-brand-custom {
    min-width: 28%;
    margin: 0;
    display: flex;
}

.navbar-list {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: row;
}

.zindex-offcanvas {
    z-index: 1065;
}
.offcanvas__btn-close{
    padding-right: 1rem;
}

.offcanvas__list {
    margin: 10px 0 15px -5px;
}
.offcanvas__item {
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: #e8e8e1;

    &-social {
	margin-right: 10px;
	display: inline-block;
    }
}
.offcanvas__link {
    font-size: 1rem;
    font-weight: 400;
    padding: 0.8rem;
}
.offcanvas__item-social {
    opacity: 0;
    transform: translateY(40px);
    margin-right: 10px;
    transition: transform 1s cubic-bezier(.165, .84, .44, 1) .52s,opacity 1s cubic-bezier(.165, .84, .44, 1) .62s;
}
.show .offcanvas__item-social {
    opacity: 1;
    transform: translateY(0);
}
offcanvas__link-social {
    padding: 10px 5px;
    color: #000000;
    text-decoration: none;
    background: 0 0;
    cursor: pointer;
}
.icon {
    width: 24px;
    height: 24px;display: inline-block;
    vertical-align: middle;
}