/* HEADER */
.header__wrapper {
    // height: 57px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 6;
    background: 0 0;
    background: linear-gradient(180deg,rgba(0,0,0,.3) 0,transparent);
}
.header-item {
    height: 57px;
}

header {
    background: 0 0;
    border-bottom: 0;
    left: 0;
    right:0;
    position: absolute;
    z-index: 5;
    top:0;
    padding: 5px 0;
    display: block;

 }
.header--index {
    position: absolute;
    top: 0;
    left: 0;
}

#header__row {
    flex-wrap: nowrap;
    padding: 0 10px;
}

.flex-navbar {
    display: flex;
    flex-direction: row;
}

#menuhamburger {
    // width: 78px;
}

#header-logo {
    width: 130px;
    z-index: 99;
}

.navbar-brand.navbar-brand-custom {
    min-width: 28%;
    margin: 0;
    display: flex;
}

.navbar-list {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: row;
}

.zindex-offcanvas {
    z-index: 1065;
}
.offcanvas__btn-close{
    padding-right: 1rem;
}
.offcanvas__header {
    height: 70px;
    overflow: visible;padding-left: 25px;
    padding-right: 25px;
    &-item{
        height:50px;
        width: 100%;
        padding: 5px 0;
        margin-bottom: 0;
    }
}
.offcanvas__animation {
    opacity: 0;
    transform: translateY(40px);
}
.offcanvas__animation {
    &-1 {
        transition: transform 1s cubic-bezier(.165, .84, .44, 1) .22s,opacity 1s cubic-bezier(.165, .84, .44, 1) .32s;
    }
    &-2 {
        transition: transform 1s cubic-bezier(.165, .84, .44, 1) .28s,opacity 1s cubic-bezier(.165, .84, .44, 1) .38s;
    }
    &-3 {
        transition: transform 1s cubic-bezier(.165, .84, .44, 1) .34s,opacity 1s cubic-bezier(.165, .84, .44, 1) .44s;
    }
    &-4 {
        transition: transform 1s cubic-bezier(.165, .84, .44, 1) .4s,opacity 1s cubic-bezier(.165, .84, .44, 1) .5s;
    }
    &-5 {
        transition: transform 1s cubic-bezier(.165, .84, .44, 1) .46s,opacity 1s cubic-bezier(.165, .84, .44, 1) .56s;
    }
    &-6 {
        transition: transform 1s cubic-bezier(.165, .84, .44, 1) .52s,opacity 1s cubic-bezier(.165, .84, .44, 1) .62s;
    }
    &-7 {
        transition: transform 1s cubic-bezier(.165, .84, .44, 1) .58s,opacity 1s cubic-bezier(.165, .84, .44, 1) .68s;
    }
    &-8 {
        transition: transform 1s cubic-bezier(.165, .84, .44, 1) .64s,opacity 1s cubic-bezier(.165, .84, .44, 1) .74s;
    }
    &-9 {
        transition: transform 1s cubic-bezier(.165, .84, .44, 1) .7s,opacity 1s cubic-bezier(.165, .84, .44, 1) .8s;
    }
}
.offcanvas__item {
    border-top: 1px solid;
    border-color: #e8e8e1;
    list-style: none;
    padding-left: 0;
    margin-right: 10px;
    
    &-social {
	margin-right: 10px;
	display: inline-block;
    text-decoration: none;
    
    // border-top: 0;
    }
}
.offcanvas__link {
    font-size: 1rem;
    font-weight: 400;
    padding: 0.8rem;
}

.show .offcanvas__animation {
    opacity: 1;
    transform: translateY(0);
}
.offcanvas__link-social {
    padding: 10px 5px;
    color: #000000;
    text-decoration: none;
    background: 0 0;
    cursor: pointer;
}
.icon {
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
}