@use '../componentes/mixins' as *;

#section1-shp {
    margin-top: 45%;
    padding-top: 3%;
    overflow: hidden;
    height: 3450px;
    margin-bottom: 30%;
    font-family: "Monotype Sabon";
}


  @each $product in vianda,cubo,tapacubo,sobrem,sobres,sobrexs,doypackxl,doypackl,doypackm {
    .product__image--#{$product} {
        background-image: url("/imgs/shop/#{$product}.png");
        // background-image: url("/imgs/faqs/faqs-#{$number}.png");
        background-repeat: no-repeat;
        @include image-ss;
        background-size: 340px 270px;
        background-position: center;
    }
}
