@use '../componentes/mixins' as *;
@use '../componentes/animaciones' as *;
@use '../componentes/tipografia' as *;

#section1-shp {
    margin-top: 100px;
    overflow: hidden;
    height: 100%;
    margin-bottom: 10%;
}

.shop__container-1 {
  display: grid;
  margin: 4rem 0.1rem;
}
.product__link {
  display: block;
  max-width: 100%;
  text-align: center;
  text-decoration: rgb(36, 39, 42);
  text-decoration-color: rgb(36, 39, 42);
  text-decoration-line: none;
  text-decoration-style: solid;
  width: 100%;
}

.product__container-title {
  position: absolute;
  bottom: 2.5rem;
  z-index: 10;
  left: 2rem;
}

.product__link h1 {
  color: whitesmoke;
  font-family: $handlee;
  font-size: 2.9rem;
  font-weight: 400;
  letter-spacing: .2rem;
  text-align: left;
}
#img-flexibles {
  transform: scale(1.2);
}
// .product__link img {
//   border-bottom-color: rgb(36, 39, 42);
//   border-bottom-style: none;
//   border-bottom-width: 0px;
//   border-image-outset: 0;
//   border-image-repeat: stretch;
//   border-image-slice: 100%;
//   border-image-source: none;
//   border-image-width: 1;
//   border-left-color: rgb(36, 39, 42);
//   border-left-style: none;
//   border-left-width: 0px;
//   border-right-color: rgb(36, 39, 42);
//   border-right-style: none;
//   border-right-width: 0px;
//   border-top-color: rgb(36, 39, 42);
//   border-top-style: none;
//   border-top-width: 0px;
//   box-sizing: border-box;
//   color: rgb(36, 39, 42);
//   display: inline-block;
//   font-family: "Gill sans", Arial, sans-serif;
//   font-size: 16px;
//   letter-spacing: 0.8px;
//   line-height: 27.2px;

//   object-fit: cover;
//   text-align: center;
//   vertical-align: middle;
// }
.product__link div:nth-child(2)::before {
  // background-image: linear-gradient(0deg, rgba(255,255,255,0.9) 0%, rgba(0,0,0,0.2) 5%, rgba(255,255,255,0.9) 95%);
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
}
.product__link div:nth-child(2) {
  &::after{
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 3;
  background-color: #000;
  opacity: 0.3;
  }
  &:active {
    &::after{
      opacity: 0;

    }
  }
  &:hover {
    &::after{
    opacity: 0;
    }
    &.product__link h1 {
      font-family: "Playfair Display", sans-serif;
      font-size: 2.5rem;
      letter-spacing: 4px;
    }
  }
}
.carousel-inner {
  height: 500px;
}
.product__link div img {
  width: 100%;
  min-width: 77.75px;
  height: 28rem;
  position: relative;
  transform: scale(1.05);
}
.img-cubo {
  width: 90%;
  min-width: 80px;
  height: 255px;
  position: relative;
  transform: scale(1.2);
}


// Modals

.animation__up-modals {
  @include animation-up-2;
  animation-delay: .1s;
}
.animation__down-modals {
  @include animation-down-1;
  animation-delay: .1s;
}

.modal-header {
  border: none;
}


.modal-height {
  height: 600px;
  background-image: url(../imgs/shop/modals/modal-bg-2.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0px 300px;
}

.modal-content div {
  z-index: 10;
}
.modal-body.animation__up-modals {
  padding: 0 !important;
  max-height: 100%;
}
.modal i {
  font-size: 1.6rem;
  margin: 0 6px;
  color: #24272a;
}
.modal a {
  color: #24272a;
  z-index: 100;
  justify-content: space-between;

}
.modal h3 {
  font-family: $dm-text;
  font-size: 2.3rem;
  font-weight: 400;
  color: #24272a;
  font-style: italic;
}
.modal h4 {
  font-family:'Gill Sans', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #24272a;
}
.modal-content > button {
  border: none;
  background-color: #33373b;
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 150px;
  font-size: .7rem;
  font-weight: 200;
  z-index: 20;
  &:hover {
    color: white !important;
    transform: scale(1.05);
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .links-index {
      width: auto;
    }
    #section2__image--3 {
      background-position: top;
    }
  }
  /* Medium devices (desktop) */
  @media (min-width: 992px) {
    .index__section2-row {
      display: grid;
      grid-template-areas: "grid-area-1 grid-area-2 grid-area-2" "grid-area-3 grid-area-3 grid-area-4";
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-columns: 250px;
      grid-row-gap: 2px;
      position: relative;
    }
    .index__section2-col1 {
      grid-area: grid-area-1;
      position: relative;
    }
  
    .index__section2-col2 {
      grid-area: grid-area-2;
      position: relative;
    }
  
    .index__section2-col3 {
      grid-area: grid-area-3;
      position: relative;
    }
  
    .index__section2-col4 {
      grid-area: grid-area-4;
      position: relative;
    }
  
    .image-fit {
      width: 50%;
    }
  }
  @font-face {
    font-family: "Monotype Sabon";
    src: url("//db.onlinewebfonts.com/t/f6a976a2bc80fd96b873575f9b7dfee2.eot");
    src: url("//db.onlinewebfonts.com/t/f6a976a2bc80fd96b873575f9b7dfee2.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/f6a976a2bc80fd96b873575f9b7dfee2.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/f6a976a2bc80fd96b873575f9b7dfee2.woff") format("woff"), url("//db.onlinewebfonts.com/t/f6a976a2bc80fd96b873575f9b7dfee2.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/f6a976a2bc80fd96b873575f9b7dfee2.svg#Monotype Sabon") format("svg");
  }
  @font-face {
    font-family: "Sans";
    src: url("//db.onlinewebfonts.com/t/952bab25f6798d6bb1937d67e9bee4dd.eot");
    src: url("//db.onlinewebfonts.com/t/952bab25f6798d6bb1937d67e9bee4dd.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/952bab25f6798d6bb1937d67e9bee4dd.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/952bab25f6798d6bb1937d67e9bee4dd.woff") format("woff"), url("//db.onlinewebfonts.com/t/952bab25f6798d6bb1937d67e9bee4dd.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/952bab25f6798d6bb1937d67e9bee4dd.svg#Sans") format("svg");
  }
  /* SHOP */
  #section1-shp {
    padding-top: 3%;
    overflow: hidden;
    margin-bottom: 30px;
    font-family: "Monotype Sabon";
  }

  /* Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) {

  }
  /* Medium devices (desktop) */
  @media (min-width: 992px) {
    #section1-shp {
      margin-top: 10%;
      margin-bottom: 15%;
    }
  
    .product__image--vianda {
      background-size: 430px 480px;
    }
  
    .product__image--cubo {
      background-size: 430px 480px;
    }
  
    .product__image--tapacubo {
      background-size: 430px 480px;
    }
  
    .product__image--sobrem {
      background-size: 430px 480px;
    }
  
    .product__image--sobres {
      background-size: 430px 480px;
    }
  
    .product__image--sobrexs {
      background-size: 430px 480px;
    }
  
    .product__image--doypackxl {
      background-size: 430px 480px;
    }
  
    .product__image--doypackl {
      background-size: 430px 480px;
    }
  
    .product__image--doypackm {
      background-size: 430px 480px;
    }
  }
  
