// index

@keyframes rise-up-1{
    0%{
        opacity:0;
        transform:translateY(120%);
    }
    to{
        opacity:1;
        transform:translateY(0%);
    }
}
@keyframes rise-up-2{
    0%{
        opacity: 0;
        transform: translateY(5%);
    }
    to{
        opacity: 1;
        transform: translateY(0%);
    }
}
@keyframes rise-down-1{
    0%{
        background-position-y: 300px;
    }
    to{
        background-position-y: 340px;
    }
}
@keyframes zoom-fade{
    0%{
        opacity:0;
        transform:scale(1.25);
    }
    25%{
        opacity:0.6;
        transform:scale(1);
    }
    100%{
        opacity: 1;
    }
}
@keyframes fade-in {
    from { 
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.reveal {
    position: relative;
    opacity: 0;
    transition: all 1.7s ease;
    transition: transform 3s;
    transform: scale(1.1);
    
}

.reveal.active {
    opacity: 1;
    transition: opacity 1.7s;
    transform: scale (1);
}
.zoom {
    transition: transform .2s; 
    cursor: pointer;
}

.zoom:hover {
    // transform: scale(1.05);
}
