// index
@keyframes rise-up{
    0%{
        opacity:0;
        transform:translateY(120%);
    }
    to{
        opacity:1;
        transform:translateY(0%);
    }
}

@keyframes zoom-fade{
    0%{
        opacity:0;
        transform:scale(1.25);
    }
    to{
        opacity:1;
        transform:scale(1);
    }
}
@keyframes fade-in {
    from { 
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.reveal {
    position: relative;
    opacity: 0;
    transition: all 1.7s ease;
    transition: transform 3s;
}

.reveal.active {
    opacity: 1;
    transition: opacity 1.7s;
}
.zoom {
    transition: transform .2s; 
    cursor: pointer;
}

.zoom:hover {
    transform: scale(1.01);
}
