@use '../custom' as *;
@import 'tipografia';
//MIXIN GRADIANTE

@mixin gradient {
background: linear-gradient(
    to right,
    rgba($primary, 0.95),
    rgba($secondary, 0.95)
);
}

@mixin image-ss {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@mixin image-faqs-lg {
    background-size:auto;
    height: 450px;
}

@mixin animation-up-1 {
    animation: 1.5s cubic-bezier(.26,.54,.32,1) forwards;
    opacity: 0;
    animation-name: rise-up-1;
}
@mixin animation-up-2 {
    animation: 2.5s cubic-bezier(.26,.54,.32,1) forwards;
    opacity: 0;
    animation-name: rise-up-2;
}

@mixin animation-fade {
    animation: fade-in .7s ease 1.5s forwards;
}

@mixin animation-zoom {
    animation: 2s ease-out 1s forwards;
    animation-name: zoom-fade;
    opacity: 0;
}