@use '../custom' as *;
//MIXIN GRADIANTE

@mixin gradient {
background: linear-gradient(
    to right,
    rgba($primary, 0.95),
    rgba($secondary, 0.95)
);
}

@mixin image-ss {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@mixin image-faqs-lg {
    background-size:auto;
    height: 450px;
}